
<%# <div class="container-fluid main-container">
  <div class="row"> %>
    <%# <div class="col"> %>
<%# <div class='container'> %>

<% @user_decks.each do | user_deck | %>

  <%= render "components/user_deck_card", user_deck: user_deck %>

<% end %>

<%# </div> %>
    <%# </div> %>
    <%# <div class="col">
      Second column
    </div> %>
  <%# </div>
</div> %>
