
<%# <% if @user_deck_flashcards.any? %>
<%# SHOW THE CARD WITH THE EARLIEST 'NEXT REVIEW' FIRST: %>
<h3>Left to review: <%= @user_deck_flashcards.count %></h3>

<%= render "components/flashcard", top_flashcard: @top_flashcard %>

<%# <div class= "row justify-content-center mt-auto d-block answer-buttons-row">
  <%# <div class="d-grid gap-2"> %>
    <%#= link_to "Check answer", check_answer_user_flashcard_path(@top_user_flashcard, user_answer: user_answer), class: "btn btn-primary btn-lg", method: :patch %>
  <%# </div> %>
<%# </div> %>
<div class= "d-flex mt-auto justify-content-center answer-buttons-row">
  <%# <div class="d-grid gap-2"> %>
  <%= link_to "Incorrect", update_review_user_flashcard_path(@top_user_flashcard, answer_correct: false), class: "btn btn-primary btn-lg w-50", method: :patch %>
  <%= link_to "Correct", update_review_user_flashcard_path(@top_user_flashcard, answer_correct: true), class: "btn btn-primary btn-lg w-50", method: :patch %>
  <%# </div> %>
</div>


<%# <% else %>
<%#   <div id="all-caught-up">
<%#     <%# <i class="fa-solid fa-hot-tub-person fa-8x"></i> %>
<%#     <i class="fa-solid fa-face-grin-stars fa-8x"></i>
<%#     <h2>All caught up!</h2>
<%#   </div>
<%# <% end %>
