@import "components/card";

.user_deck_card {
  position: relative; // so the delete icon can have position:absolute and go in the top right of the user deck card
}

#user_deck_card_dropdown {
  display: inline-block;
  float: right;
  margin: 13px 5px 0 0;
  position: absolute;
  top: 0;
  right: 0;
}
