@import "bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Merriweather&family=Teko:wght@500&display=swap');

$green: #197278;

html, body {
  height: 100%;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #EBF2FA;
  font-family: 'Cabin', sans-serif;
}

.main-container {
}

.my-decks-container {
  // margin: 50px;
  margin-top: 50px;
  // margin-left: 100px;
  // margin-right: 100px;
  min-height: 100%;
  height: 100%;
}

.deck-row {
  // padding: 10px;
  border-radius: 10px;
  height: 150px;
  background-color: #FE5F55;
}

.deck-row-top-buffer {
  margin-top: 10px;
}

// .flashcard-row, .flashcard-col {
//   border: 1px solid;
// }

.answer-buttons-row {
  margin-top: 50px;
}

.col-centered{
float: none;
margin: 0 auto;
}

.navbar {
  // background-color: #197278;
  color: $green;
  background-color: #197278;
}
