<%# <div class="container-fluid main-container">
<div class="row"> %>
  <%# <div class="col"> %>

<%# This div display the flash notice "Deck already added!" %>
<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 d-flex flex-xl-wrap">
<%# <div class="d-flex flex-lg-wrap"> %>
<%# <div class="card-group"> %>

  <% @decks.each do | deck | %>

    <% deck_flashcards_count = @flashcards.where(deck_id: deck.id).count %>

    <div class="col">

      <%= render "components/deck_card", deck: deck, deck_flashcards_count: deck_flashcards_count %>

    </div>

  <% end %>

</div>
